/** CSS Animations **/

.pixel-1 {
    width: 19px;
    height: 19px;
    background: #272526;
    position: absolute;
    z-index: 1;
    bottom: 101%;
    left: 34%;
    /* Chrome, Safari, Opera */
    -webkit-animation-name: Moving;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    /* Standard syntax */
    animation-name: Moving;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
.pixel-1:after {
    content: '';
    width: 19px;
    height: 19px;
    background: #272526;
    position: absolute;
    z-index: 2;
    bottom: 101%;
    left: 105px;
    /* Chrome, Safari, Opera */
    -webkit-animation-name: Moving;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    /* Standard syntax */
    animation-name: Moving;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;   
} 
.pixel-1:before {
    content: '';
    width: 19px;
    height: 19px;
    background: #272526;
    position: absolute;
    z-index: 2;
    bottom: 101%;
    left: 40px;
    /* Chrome, Safari, Opera */
    -webkit-animation-name: Moving;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 3.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    /* Standard syntax */
    animation-name: Moving;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 3.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;   
} 

.pixel-2 {
    width: 19px;
    height: 19px;
    background: #272526;
    position: absolute;
    z-index: 1;
    bottom: 101%;
    right: 33%;
    /* Chrome, Safari, Opera */
    -webkit-animation-name: Moving;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    /* Standard syntax */
    animation-name: Moving;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
.pixel-2:after {
    content: '';
    width: 19px;
    height: 19px;
    background: #272526;
    position: absolute;
    z-index: 2;
    bottom: 101%;
    right: 120px;
    /* Chrome, Safari, Opera */
    -webkit-animation-name: Moving;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    /* Standard syntax */
    animation-name: Moving;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;   
} 
.pixel-2:before {
    content: '';
    width: 19px;
    height: 19px;
    background: #272526;
    position: absolute;
    z-index: 2;
    bottom: 101%;
    right: 50px;
    /* Chrome, Safari, Opera */
    -webkit-animation-name: Moving;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    /* Standard syntax */
    animation-name: Moving;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;   
} 

/* Chrome, Safari, Opera */
@-webkit-keyframes Moving {
    0%   {bottom:100%;}
    25%  {bottom:75%;}
    50%  {bottom:50%;}
    75%  {bottom:25%;}
    100% {bottom:0;}
}

/* Standard syntax */
@keyframes Moving {
    0%   {bottom:100%;}
    25%  {bottom:75%;}
    50%  {bottom:50%;}
    75%  {bottom:25%;}
    100% {bottom:0;}
}