@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

/** CSS Master Reset **/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
        display: block;
}
html {
    background-image: url(comming-soon.jpg);
    background-color: #5A4855;
    background-position: bottom center;
    background-repeat: no-repeat;
	min-height: 100%;
    position: relative;
}
body {
    background: #5A4855;
    line-height: 1;

}
ol, ul {
    list-style: none;
}

/** Generic Classes **/
h2 {
    background: #CCC;
    color: #5A4855;
    font-size: 22px;
    font-family: 'Press Start 2P', cursive;
    padding: 5%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 5;
}

@media only screen and (max-width: 480px) {

    html {
        background-size: 100%;
    }

    .pixel-1 {
        left: 0 !important;
    }
    .pixel-1:after {
        left: 30px !important;
    }
    .pixel-1:before {
        left: 100px !important;
    }
    .pixel-2 {
        right: 0 !important;
    }
    .pixel-2:after {
        right: 30px !important;
    }
    .pixel-2:before {
        right: 100px !important;
    }
}
